body {
  background-color: #ffb22ee4; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }
  header .div__barra {
    border: solid 1px;
    background: linear-gradient(90deg, rgba(0, 224, 207, 0.45702) 0%, rgba(0, 212, 255, 0.854779) 51%, #00f1ff 100%);
    display: flex;
    opacity: 0.90; }
    header .div__barra .logo__principal {
      max-height: 150px;
      max-width: 150px;
      width: 20%; }
    header .div__barra .lista__inicio .lista__item {
      display: inline-block;
      margin-right: 80px;
      border-radius: 30px;
      background-color: #77f8ff;
      text-align: center;
      text-decoration: none;
      color: #0c0a36;
      box-shadow: 3px 2px 6px black; }
    header .div__barra .lista__inicio .lista__item:hover {
      background-color: white; }

main {
  padding-top: 190px; }
  main .h2__index {
    text-align: center;
    color: black;
    font-size: 14px; }
  main .titulo__h1 {
    text-align: center;
    font-size: 42px;
    justify-content: center;
    text-shadow: 11px 7px 4px rgba(0, 0, 0, 0.8); }
  main .titulo__h1_t {
    text-align: center;
    font-size: 42px;
    justify-content: center;
    padding-left: 120px;
    text-shadow: 11px 7px 4px rgba(0, 0, 0, 0.8); }
  main .div__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .div__main .imagen_ilustrativa {
      width: 70%; }
    main .div__main .caja__texto {
      border: solid 1px;
      background-color: #fcdc3c;
      width: 75%;
      align-items: center;
      margin: 8px; }
  main .carucel_contenedor {
    width: 500px;
    height: auto;
    margin: 20px; }
    main .carucel_contenedor .carucel_contenedor img {
      width: 500px;
      height: 300px; }
  main .formulario {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #15172b;
    border: solid 1px; }
    main .formulario .div_form {
      position: absolute; }

footer {
  padding-top: 25px; }
  footer .ul__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; }
    footer .ul__footer .lista__footer {
      list-style: none;
      display: inline-block; }
      footer .ul__footer .lista__footer .a__footer {
        text-decoration: none;
        background-color: #ffb22ee4; }
        footer .ul__footer .lista__footer .a__footer input {
          display: block;
          margin-left: auto;
          margin-right: auto; }
