footer {
    padding-top: 25px;

    .ul__footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;

        .lista__footer {
            list-style: none;
            display: inline-block;

            .a__footer {
                text-decoration: none;
                background-color: map-get($map: $palette, $key: color-principal);

                input {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }
    }
}