main {
    padding-top: 190px;

    .h2__index {
        text-align: center;
        color: black;
        font-size: 14px;
    }

    .titulo__h1 {
        text-align: center;
        font-size: 42px;
        justify-content: center;
        text-shadow: 11px 7px 4px rgba(0, 0, 0, 0.8);
    }

    .titulo__h1_t {
        text-align: center;
        font-size: 42px;
        justify-content: center;
        padding-left: 120px;
        text-shadow: 11px 7px 4px rgba(0, 0, 0, 0.8);
    }

    .div__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imagen_ilustrativa {
            width: 70%;
            height: auto;
        }

        .caja__texto {
            border: solid 1px;
            background-color: map-get($map: $palette, $key: 'color-fondo-tex');
            width: 75%;
            align-items: center;
            margin: 8px;
        }


    }
    .div_tabla{
        display: flex;
        justify-content: center;
    }

    .table {
        width: 75%;
    }


    .carucel_contenedor {
        width: 600px;
        height: 600px;
        margin: 20px;
        background-color: black;

    }

    .carucel_contenedor img {
        width: auto;
        height: 600px;
    }



    form {
        width: 300px;
        background-color: map-get($map: $palette, $key: 'color-fondo-tex');
        border-radius: 4px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 300px;

        .formulario {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            text-align: center;
        }
    }

}